<%- include('../layout/header'); %>
<div class="page-content">
<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Form Elements</a>
        </li>
        <li class="active">Form Layouts</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            Forms
            <small>
                <i class="fa fa-angle-right"></i>
                Layouts
            </small>
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
    <style>
        .body_mes{
            max-height: 300px;
            overflow: scroll;
        }
    </style>
<!-- Page Body -->
<div class="page-body" id="PageBody">
<div class="row">
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="row divchat">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-pink">
                    <span class="widget-caption" id="sock_id"></span>
                </div>
                <div class="widget-body">
                    <div id="horizontal-form">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-sm-12" id="MesExits"></div>
                            </div>
                            <textarea class="form-control" rows="3" placeholder="Content" id="MesType"></textarea>
                            <div class="horizontal-space"></div>
                            <div>
                                <button type="button" class="btn btn-default">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- /Page Body -->
</div>
<%- include('../layout/footer'); %>